@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
.yellow-button {
  background-color: #e6bd43;
  color: #252525;
  padding: 1em 1.5em;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
}

header {
  text-align: center;
  margin-top: 1rem;
}
header a {
  width: 100%;
}
header img {
  width: 25%;
  max-width: 170px;
}

body {
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header" "nav" "main" "footer";
  font-family: Roboto, sans-serif;
}
body header {
  grid-area: header;
}
body nav {
  grid-area: nav;
}
body main {
  grid-area: main;
  margin-top: 0.8em;
}

.menu-items {
  text-align: center;
  font-size: 1.2em;
}
.menu-items ul {
  margin: 0;
  padding: 0;
}
.menu-items ul li {
  list-style-type: none;
  padding: 0.3em;
}
.menu-items ul li a {
  text-decoration: none;
  color: #000;
  position: relative;
}
.menu-items ul li a.active-class {
  font-weight: 500;
}
.menu-items ul li a.active-class::after {
  content: "";
  display: block;
  margin-top: 0;
  height: 0.15em;
  background-color: #e6bd43;
  width: 100%;
  position: absolute;
  left: 0;
}

#intro-section {
  position: relative;
  background-image: url(/resources/img/background_img_index.png);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#intro-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.65);
  z-index: 1;
}
#intro-section h1, #intro-section p, #intro-section a {
  position: relative;
  z-index: 2;
  text-decoration: none;
  text-align: center;
}
#intro-section #about-our-services-button {
  text-align: left;
}
#intro-section #intro-video {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
}

#subheading-text {
  padding: 3em;
  text-align: center;
}

#about-our-company {
  padding: 3em;
  background-color: #e6bd43;
}
#about-our-company div {
  padding: 0 2rem;
  margin-top: 3rem;
}

#read-more-about-us-button {
  border: 2.5px solid #000;
  cursor: pointer;
}

.our-services {
  padding: 3em;
  text-align: center;
}
.our-services h3 {
  font-size: 1.5rem;
}
.our-services .our-services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.our-services .our-services-wrapper article {
  width: 20%;
  min-width: 200px;
}
.our-services .our-services-wrapper article i {
  font-size: 2rem;
}
.our-services h3 {
  margin-bottom: 3rem;
}
.our-services p {
  margin-bottom: 3rem;
}

#sign-up-newsletter {
  padding: 2em;
  text-align: center;
  background-color: #f5f5f5;
}

#hidden-label {
  display: none;
}

#news-letter-sign-up-form {
  display: flex;
  justify-content: center;
}
#news-letter-sign-up-form input {
  border: none;
  padding-left: 1em;
}
#news-letter-sign-up-form button {
  margin-left: 0.3em;
  border: none;
}

#main-heading-portfolio {
  position: relative;
  background-image: url(/resources/img/background_img_portfolio.png);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-heading-portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.65);
  z-index: 0;
}
#main-heading-portfolio h1 {
  position: relative;
  z-index: 1;
}

#product-category-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#product-category-button-wrapper a {
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  padding: 0.6rem;
  margin: 0 0.7rem 0.7rem 0;
}

.placeholder-img {
  width: 100%;
  margin: 0;
}

.yellow-lines {
  display: block;
  height: 5px;
  margin-bottom: 2em;
  background-color: #e6bd43;
  border-style: none;
  width: 100%;
}

.portfolio-section {
  padding: 1em 2.8em;
}

figure {
  margin: 0;
}

#previous-jobs {
  padding: 1em 2.8em;
}

#about-company {
  background-image: url(/resources/img/background_img_index.png);
  background-size: cover;
  background-position: center;
  padding: 3em;
  margin-top: 0.5rem;
}
#about-company #about-company-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.6em;
}
#about-company #about-company-text-container h1 {
  margin: 0;
  font-size: 1.2rem;
}
#about-company #about-company-text-container a {
  max-width: 150px;
}

#clients-display {
  background-color: #e6bd43;
  padding: 1em;
  text-align: center;
}
#clients-display #client-figure-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
#clients-display #client-figure-wrapper figure {
  margin: 0.6em;
}

#contact-information {
  padding: 2rem;
  background-color: #f5f5f5;
}
#contact-information h3 {
  text-align: center;
}
#contact-information form {
  display: flex;
  flex-direction: column;
}
#contact-information label {
  margin-bottom: 0.8rem;
}
#contact-information input {
  height: 3rem;
  padding-left: 0.6rem;
  margin-bottom: 0.8rem;
  border: none;
}
#contact-information button {
  border: none;
  width: 45%;
  margin-top: 1rem;
}
#contact-information textarea {
  border: none;
  height: 10rem;
}
#contact-information ul {
  padding: 0;
}
#contact-information ul li {
  list-style: none;
  margin-bottom: 0.8em;
}
#contact-information ul li i {
  margin-right: 0.6em;
}
#contact-information #contact-us-heading {
  margin-bottom: 2.5rem;
}
#contact-information #contact-information-heading {
  text-align: left;
  margin-top: 4.5rem;
}
#contact-information #send-message-button {
  max-width: 195px;
}

iframe {
  width: 100%;
  height: 300px;
}

footer {
  grid-area: footer;
  background-color: #252525;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
footer a {
  width: 100%;
  text-align: center;
}
footer a img {
  width: 20%;
  max-width: 170px;
}
footer h5 {
  margin: 10px;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  display: inline-block;
  margin: 10px;
}
footer ul li i {
  color: white;
}

.page-jump-button {
  padding: 1rem;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media screen and (min-width: 900px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  .yellow-button:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  header {
    text-align: left;
  }
  header img {
    margin-left: 0.8em;
  }
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header nav nav" "main main main" "footer footer footer";
    max-width: 1600px;
  }
  .menu-items {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .menu-items ul {
    margin-top: 0.8rem;
  }
  .menu-items ul li {
    display: inline-block;
    font-size: 1rem;
  }
  #intro-section {
    padding: 2rem 10rem;
    background-image: none;
  }
  #intro-section h1 {
    font-size: 2.4rem;
  }
  #intro-section #intro-video {
    display: block;
  }
  #subheading-text {
    padding: 2rem 10rem;
  }
  #about-our-company {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-our-company img {
    width: unset;
  }
  #about-our-company div {
    margin-top: 0;
  }
  .our-services h3 {
    font-size: 2rem;
  }
  #main-heading-portfolio h1 {
    font-size: 2.4rem;
  }
  .portfolio {
    transition: transform 0.5s ease;
    max-width: 692px;
    flex-grow: 1;
    margin: 1.2em;
    width: 30%;
  }
  .portfolio:hover {
    transform: scale(1.08);
  }
  .article-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  #product-category-button-wrapper a:hover {
    background-color: #252525;
    color: #e6bd43;
    font-weight: 500;
  }
  #about-company {
    display: flex;
    justify-content: flex-end;
  }
  #about-company-text-container {
    width: 50%;
  }
  #clients-display #client-figure-wrapper {
    justify-content: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  #contact-information section {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  #contact-information article {
    width: 40%;
  }
  #contact-information article form {
    margin: 0;
    width: 100%;
  }
  #contact-information article #contact-information-heading {
    margin-top: 1.6rem;
  }
  #contact-information h3 {
    text-align: center;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 1rem;
  }
  footer a {
    width: unset;
    text-align: left;
  }
  footer a img {
    width: 55%;
  }
  footer i {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */