@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
// Importing font Roboto from google fonts here.

$goldyellow: #e6bd43 
$greyblack: #252525
$black: #000
$white: #fff



body
    display: grid
    grid-template-columns: 1fr
    font-family: Roboto, sans-serif

#intro-section
    position: relative  // LMS webtricks /ChatGPT - any absolutely position child elements will be positioned relative to the intro-section
    background-image: url(/resources/img/background_img_index.png)  // LMS webtricks. 
    background-size: cover  // LMS Webtricks
    background-position: center  // LMS webtricks
    min-height: 300px
    &::before  // LMS webtricks - Pseudo elelemtns - targets parent selector, in this case #intro-section. 
        content: "" // ChatGPT - required for the pseudo-element to work. Often set to an empty string when pseudo-element is used for visual presentation - like an overlay in this case. 
        position: absolute  // LMS webtricks /ChatGPT as mentioned above - this will position the overlay relative to intro-section
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: rgba(255,255 ,255 ,0.65 ) 
        z-index: 0  // sets overlay behind any content inside the section.
    h1, p, a
        position: relative
        z-index: 1  // LMS webtricks.  Sets posoiton of text elements to be above overlay. 
        
#main-heading-portfolio
    position: relative
    background-image: url(/resources/img/background_img_portfolio.png)  // LMS webtricks. 
    background-size: cover  // LMS Webtricks
    background-position: center  // LMS webtricks
    min-height: 300px // adding min-height to entire section, since it turns into small strip otherwise when ontly containing an h1 tag. 
    &::before  // LMS webtricks - pseudo element, targets parent selector, in this case #intro-section. 
        content: ""
        position: absolute  //making sure the pseudo-element (or thin transparent sheet), does not leave the boundaries of the big box (intro-section). It moves relative to it.
        top: 0  // Top, left, bottom, right, LMS webtricks // ChatGpT. 
        right: 0
        bottom: 0
        left: 0
        background: rgba(255,255 ,255 ,0.65 ) 
        z-index: 0  // sets overlay behind any content inside the section.
    h1, p, a
        position: relative  // relative position of text elemens makes sure that they follow the document flow // LMS webtricks / ChatGPT. 
        z-index: 1  // Sets posoiton of text elements to be above overlay. 
        
    
  

.placeholder-img
    width: 400px
    height: 400px
    background-color: lightgrey

.yellow-lines
    display: block  // span is an inline element, need block to get get auto margin L/R to apply. 
    height: 5px
    background-color: $goldyellow
    width: 50%
    margin: 10px  //TODO: fix styling here later! 

footer
    background-color: $greyblack
    color: white
    ul
        li
            display: inline-block
            margin: 10px
            i
                color: white

#clients-display
    background-color: $goldyellow

#contact-information
    ul
        li
            list-style: none  // Removing default bullet points for list.
            margin: 0.8em  // adding space between lines
            i
                margin-right: 0.6em // adding space between icons and the text.

