.placeholder-img
    width: 400px
    height: 400px

.yellow-lines
    display: block  // span is an inline element, need block to get get auto margin L/R to apply. 
    height: 5px
    background-color: #e6bd43
    width: 50%